{{!-- detailed results per restuarant, gets populated on click that serves restuarant html --}}

<div class="row mt-4">
  <div class="col-md-1"></div>
  <div class="card text-center col-md-10">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <button type="button" id="detailsBtn" class="btn btn-outline-dark nav-link ">Restaurant Details</button>
        </li>
        <li class="nav-item">
          <button type="button" id="dealsBtn" class="btn btn-outline-dark nav-link ">All Deals</button>
        </li>
        <li class="nav-item">
          <button type="button" id="commentBtn" class="btn btn-outline-dark nav-link ">Write a Review</button>
        </li>
        <li class="nav-item">
          <button type="button" id="contactBtn" class="btn btn-outline-dark nav-link ">Contact</button>
        </li>
        <li class="nav-item">
          {{!-- on click of this button will call google api/ store address as data-address attribute in button.. can grab on click
          for api call--}} {{#each restaurantObj.restaurant}}
          <button type="button" id="mapBtn" class="btn btn-outline-dark nav-link" data-address="{{restaurant_address}}">Directions/Map</button>
          {{/each}}
        </li>

      </ul>
    </div>
    <div class="card-body">
      {{!-- general restaurant details from restaurant table in db--}}
      <div id="detailsDiv">
        {{#each restaurantObj.restaurant}}
        <h5 class="card-title" id="restaurantName">{{restaurant_name}}
        </h5>
        <p class="card-text" id="restaurantType">{{description}}</p>
        <a id="restaurantWeblink" href="{{restaurant_website}}" class="btn btn-outline-dark">Go to Website</a>
        {{/each}}
        <a id="restaurantWeblink" href="/search" class="btn btn-outline-dark">Back to Search</a>
        {{!-- see all past comments /review for restaurant --}}
        <div class="row">
          <div class="page-header">
            <h1>Reviews </h1>
          </div>
        </div>
        <div class="comments-list">

          {{#each restaurantObj.restaurant}} {{#each Comms}}
          <div class="row">
            <p>
              {{createdAt}}
            </p>
            <h4>Rating: {{rating}}</h4>
            <p>{{comment_text}}</p>
          </div>
          {{/each}} {{/each}}
          {{#each userObj.user}} 
          <p>{{user_name}}</p>
          {{/each}}
        </div>
      </div>

      {{!-- display all deals for the restaurant from deals table in db--}}
      <div id="dealsDiv">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Day of Deal</th>
              <th scope="col">Deal Type</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Deal Deets!</th>

            </tr>
          </thead>
          <tbody>

            {{#each restaurantObj.restaurant}} {{#each Deals}} {{#if hasDeal}}
            <tr>
              <th scope="row">{{day}}</th>
              <td>{{deal_type}}</td>
              <td>{{start_time}}</td>
              <td>{{end_time}}</td>
              <td>{{deal_description}}</td>
              {{/if}}{{/each}} {{/each}}
            </tr>
          </tbody>
        </table>
      </div>
      {{!-- display past comments, add new comment --}}
      <div id="commentDiv">
        <form class="card">
          <div class="form-group">
            <label id="comment">Leave a Comment</label>
            <textarea id="commentText" class="form-control" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label>Rating</label>
            <select class="form-control" id="rating">
              <option value="1">1 *</option>
              <option value="2">2 **</option>
              <option value="3">3 ***</option>
              <option value="4">4 ****</option>
              <option value="5">5 *****</option>
            </select>
          </div>

          <button id="addComment" class=" btn btn-sm btn-outline-dark">Post</button>
        </form>
      </div>
      {{!-- display contact info from restaurant table in db --}}
      <div id="contactDiv">
        {{#each restaurant}}
        <h5> Phone number:
          <a href="tel:+1{{phone_number}}">{{phone_number}}</a>
        </h5>
        <h5>Address: {{restaurant_address}}
        </h5>
        {{/each}}
      </div>
      {{!-- display restaurant location on map using google maps api --}}
      <div id="mapDiv">
        <p>map and stuff from google api... could do get call on click of button</p>
      </div>

    </div>
    <div class="col-md-1"></div>
  </div>